/* 
------------------------------------------
BASE STYLESHEET FOR GLOBAL STYLING
------------------------------------------
*/
/* COLOUR VARIABLES */
/* 
------------------------------------------
RESET CSS
------------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
.clearfix {
  clear: both;
}
.m-t-20 {
  margin-top: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}
h5 {
  font-size: 16px;
  font-weight: normal;
}
h6 {
  font-size: 14px;
  font-weight: normal;
}
p {
  font-size: 13px;
}
.flag-text {
  font-weight: bold;
  font-size: 15px;
}
label.answered {
  font-weight: bold;
}
.error {
  margin-top: 5px;
  display: block;
}
/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn {
  width: auto;
  min-width: 100px;
  height: 35px;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  border: none;
  outline: none;
}
.generic-btn:focus,
.generic-btn:hover {
  outline: none;
  text-decoration: none;
}
.generic-btn.secondary-btn {
  width: 200px;
  font-size: 16px;
}
.generic-btn.disabled {
  cursor: not-allowed;
}
.generic-btn.delete-btn {
  width: 35px;
  height: 35px;
  min-width: unset;
}
/* 
------------------------------------------
FLAGS
------------------------------------------
*/
.flag {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.flag.flag-danger {
  background-image: url(../images/SB-CIB-Flag-RED.png);
}
.flag.flag-warning {
  background-image: url(../images/SB-CIB-Flag-AMBER.png);
}
.flag.flag-success {
  background-image: url(../images/SB-CIB-Flag-GREEN.png);
}
.flag .flag-notification {
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: -5px;
  right: 5px;
}
/* 
------------------------------------------
LETTERS
------------------------------------------
*/
.letters {
  width: 40px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.letters.letter-a {
  background-image: url(../images/SB-A.png);
}
.letters.letter-b {
  background-image: url(../images/SB-B.png);
}
.letters.letter-c {
  background-image: url(../images/SB-C.png);
}
.letters.letter-d {
  background-image: url(../images/SB-D.png);
}
.letters.letter-e {
  background-image: url(../images/SB-E.png);
}
.letters.letter-f {
  background-image: url(../images/SB-D.png);
}
.letters.letter-g {
  background-image: url(../images/SB-G.png);
}
.letters.letter-h {
  background-image: url(../images/SB-H.png);
}
.letters.letter-i {
  background-image: url(../images/SB-I.png);
}
.letters.letter-j {
  background-image: url(../images/SB-J.png);
}
.letters.letter-k {
  background-image: url(../images/SB-K.png);
}
.letters.letter-l {
  background-image: url(../images/SB-L.png);
}
.letters.letter-m {
  background-image: url(../images/SB-M.png);
}
.letters.letter-n {
  background-image: url(../images/SB-N.png);
}
.letters.letter-o {
  background-image: url(../images/SB-O.png);
}
.letters.letter-p {
  background-image: url(../images/SB-P.png);
}
.letters.letter-q {
  background-image: url(../images/SB-Q.png);
}
.letters.letter-r {
  background-image: url(../images/SB-R.png);
}
.letters.letter-s {
  background-image: url(../images/SB-S.png);
}
.letters.letter-t {
  background-image: url(../images/SB-T.png);
}
.letters.letter-u {
  background-image: url(../images/SB-U.png);
}
.letters.letter-v {
  background-image: url(../images/SB-V.png);
}
.letters.letter-w {
  background-image: url(../images/SB-W.png);
}
.letters.letter-x {
  background-image: url(../images/SB-X.png);
}
.letters.letter-y {
  background-image: url(../images/SB-Y.png);
}
.letters.letter-z {
  background-image: url(../images/SB-Z.png);
}
.glb-divider {
  width: 100%;
  height: 3px;
  margin: 15px 0;
  clear: both;
  background: url(../images/glb-divider.png) no-repeat 0 0;
}
/* 
------------------------------------------
FORM ELEMENTS
------------------------------------------
*/
label {
  font-size: 16px;
  font-weight: normal;
  padding-left: 0!important;
  padding-right: 0!important;
}
select {
  min-width: 200px;
  height: 35px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
}
textarea {
  height: 80px;
  resize: none;
}
