/* 
------------------------------------------
BASE STYLESHEET FOR GLOBAL STYLING
------------------------------------------
*/

@import "variables.less";
@import "mixins.less";


/* 
------------------------------------------
RESET CSS
------------------------------------------
*/
h1,h2,h3,h4,h5,h6,
figure{
    margin: 0;
    padding:0;
}

.no-margin{margin-left:0;margin-right:0;}
.clearfix{clear: both;}

.m-t-20{margin-top:20px;}
.m-l-20{margin-left:20px;}
.m-b-20{margin-bottom:20px;}
.m-r-20{margin-right:20px;}

.m-t-40{margin-top:40px;}
.m-l-40{margin-left:40px;}
.m-b-40{margin-bottom:40px;}
.m-r-40{margin-right:40px;}


/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3{
    font-family: @base-font;
    font-weight:bold;
}

h1{font-size: 28px;text-transform: uppercase;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 18px;font-weight:normal;}
h5{font-size: 16px;font-weight:normal;}
h6{font-size: 14px;font-weight:normal;}

p{font-size: 13px;}

.flag-text{
    font-weight:bold;
    font-size: 15px;
}

label.answered{font-weight: bold;}

.error{margin-top:5px;display: block;}

/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn{
    width: auto;
    min-width: 100px;
    height: 35px;
    padding:0 15px;
    font-family: @base-font;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border: none;
    outline: none;

    &:focus,
    &:hover{outline: none;text-decoration: none;}

    &.secondary-btn{width:200px;font-size: 16px;}

    &.disabled{
        cursor:not-allowed;
    }
    
    &.delete-btn{
        width:35px;
        height: 35px;
        min-width: unset;
    }

    
}

/* 
------------------------------------------
FLAGS
------------------------------------------
*/

.flag{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;

    &.flag-danger{background-image: url(../images/SB-CIB-Flag-RED.png);}
    &.flag-warning{background-image: url(../images/SB-CIB-Flag-AMBER.png);}
    &.flag-success{background-image: url(../images/SB-CIB-Flag-GREEN.png);}

    .flag-notification{
        display: block;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        bottom: -5px;
        right:5px;
    }
}

/* 
------------------------------------------
LETTERS
------------------------------------------
*/

.letters{
    width: 40px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;

    &.letter-a{background-image: url(../images/SB-A.png);}
    &.letter-b{background-image: url(../images/SB-B.png);}
    &.letter-c{background-image: url(../images/SB-C.png);}
    &.letter-d{background-image: url(../images/SB-D.png);}
    &.letter-e{background-image: url(../images/SB-E.png);}
    &.letter-f{background-image: url(../images/SB-D.png);}
    &.letter-g{background-image: url(../images/SB-G.png);}
    &.letter-h{background-image: url(../images/SB-H.png);}
    &.letter-i{background-image: url(../images/SB-I.png);}
    &.letter-j{background-image: url(../images/SB-J.png);}
    &.letter-k{background-image: url(../images/SB-K.png);}
    &.letter-l{background-image: url(../images/SB-L.png);}
    &.letter-m{background-image: url(../images/SB-M.png);}
    &.letter-n{background-image: url(../images/SB-N.png);}
    &.letter-o{background-image: url(../images/SB-O.png);}
    &.letter-p{background-image: url(../images/SB-P.png);}
    &.letter-q{background-image: url(../images/SB-Q.png);}
    &.letter-r{background-image: url(../images/SB-R.png);}
    &.letter-s{background-image: url(../images/SB-S.png);}
    &.letter-t{background-image: url(../images/SB-T.png);}
    &.letter-u{background-image: url(../images/SB-U.png);}
    &.letter-v{background-image: url(../images/SB-V.png);}
    &.letter-w{background-image: url(../images/SB-W.png);}
    &.letter-x{background-image: url(../images/SB-X.png);}
    &.letter-y{background-image: url(../images/SB-Y.png);}
    &.letter-z{background-image: url(../images/SB-Z.png);}

}

.glb-divider{
    width: 100%;
    height:3px;
    margin: 15px 0;
    clear: both;
    background: url(../images/glb-divider.png) no-repeat 0 0;
}

/* 
------------------------------------------
FORM ELEMENTS
------------------------------------------
*/

label{
    font-size: 16px;
    font-weight: normal;
    padding-left:0!important;
    padding-right:0!important;
}

select{
    min-width: 200px;
    height: 35px;
    border: none;
    .border-radius(0);
    outline: none;
}

textarea{
    height: 80px;
    resize: none;
}