/* 
------------------------------------------
LAYOUT STYLESHEET FOR PAGE LAYOUTS
------------------------------------------
*/
/* COLOUR VARIABLES */
.container {
  width: 100%;
  max-width: 1170px;
}
/* 
------------------------------------------
HEADER
------------------------------------------
*/
header {
  width: 100%;
  height: 141px;
  position: relative;
  background-image: url(../images/header-bg-main.jpg), url(../images/header-bg-right.jpg);
  background-position: center center,right 0;
  background-repeat: no-repeat, repeat;
}
header:before {
  width: 25%;
  height: 141px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: url(../images/header-bg-left.jpg) repeat 0 0;
}
header h1 {
  margin: 20px 0 0 0;
}
header h1 figure {
  width: 90px;
  height: 100px;
  float: right;
}
header h1 figure img {
  width: 100%;
}
/* 
------------------------------------------
FOOTER
------------------------------------------
*/
footer {
  width: 100%;
  height: auto;
}
footer .moving-forward-banner {
  width: 100%;
  padding: 25px 0;
}
footer .footer-content {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
footer .footer-content p {
  margin: 0;
  padding: 0;
}
/* 
------------------------------------------
GLOBAL LAYOUT
------------------------------------------
*/
section.content {
  min-height: 70vh;
}
section.content .section-title {
  width: 100%;
  height: 55px;
}
section.content .section-title h1 {
  line-height: 55px;
}
section.content .page-title {
  width: 100%;
  float: left;
  clear: both;
  padding: 15px 0;
}
section.content .page-title h3 {
  padding-top: 15px;
}
section.content h2 {
  padding: 20px 0;
}
/* 
------------------------------------------
LANDING PAGE
------------------------------------------
*/
table {
  width: 100%;
  height: auto;
  display: table;
}
table thead th {
  font-weight: normal;
  padding: 15px 0;
}
table tbody tr td {
  padding: 15px 0;
  /* END EXPIRY DATE */
}
table tbody tr td:first-child {
  width: 5%;
}
table tbody tr td:nth-child(2) {
  width: 10%;
}
table tbody tr td:nth-child(3) {
  width: 10%;
}
table tbody tr td:nth-child(4) {
  width: 10%;
}
table tbody tr td:nth-child(5) {
  width: 10%;
}
table tbody tr td:nth-child(6) {
  width: 20%;
}
table tbody tr td:nth-child(7) {
  width: 18%;
}
table tbody tr td .button-group button {
  margin-right: 5px;
}
table tbody tr td .button-group button:last-child {
  margin-right: 0;
}
table tbody tr td .expiry-date {
  width: 120px;
  height: auto;
  float: left;
  padding: 5px;
}
table tbody tr td .expiry-date .time {
  width: 50px;
  float: left;
  text-align: center;
  margin: 0 5px 0 0;
}
table tbody tr td .expiry-date .time p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  padding: 0;
  margin: 0;
}
table tbody tr td .expiry-date .time:last-child {
  border-right: none;
  margin: 0;
}
table tbody tr td .expiry-date .time label {
  width: 100%;
  float: left;
  font-size: 6px;
  text-transform: uppercase;
}
table tbody tr td .flag {
  margin: 0 15px;
}
/* 
------------------------------------------
NEW CREDIT CONSIDERATION LAYOUT AND STYLES
------------------------------------------
*/
.info-row {
  padding: 40px 0;
}
.info-row.no-border {
  border-bottom: none;
}
.info-row h4 {
  padding-bottom: 20px;
  font-style: italic;
  font-weight: bold;
}
.info-row .sector-matrix-block {
  width: 250px;
  max-height: 130px;
  float: left;
  padding: 50px 30px;
  margin: 0 30px 30px 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  background: url(../images/SB-MatrixBG.jpg) no-repeat 0 0;
}
.info-row .sector-matrix-block.selected,
.info-row .sector-matrix-block:hover {
  background: url(../images/SB-MatrixBG-ON.jpg) no-repeat 0 0;
}
