/* 
------------------------------------------
LAYOUT STYLESHEET FOR PAGE LAYOUTS
------------------------------------------
*/
@import "variables.less";
@import "mixins.less";

.container{width:100%;max-width: 1170px;}

/* 
------------------------------------------
HEADER
------------------------------------------
*/
header{
    width: 100%;
    height: 141px;
    position: relative;
    background-image: url(../images/header-bg-main.jpg), url(../images/header-bg-right.jpg);
    background-position:center center,right 0;
    background-repeat:  no-repeat, repeat;

    &:before{
        width: 25%;
        height: 141px;
        position: absolute;
        left: 0;
        top:0;
        content:"";
        background: url(../images/header-bg-left.jpg) repeat 0 0;
    }

    h1{
        margin:20px 0 0 0;
        figure{
            width: 90px;
            height: 100px;
            float: right;

            img{width: 100%;}
        }
    }
}

/* 
------------------------------------------
FOOTER
------------------------------------------
*/
footer{
    width: 100%;
    height: auto;

    .moving-forward-banner{width: 100%;padding:25px 0; }

    .footer-content{
        width: 100%;
        height: auto;
        padding:20px 0;

        p{margin: 0;padding:0;}
    } 
}

/* 
------------------------------------------
GLOBAL LAYOUT
------------------------------------------
*/

section.content{
    min-height: 70vh;

    .section-title{
        width: 100%;
        height: 55px;
        
        h1{line-height: 55px;}
    }

    .page-title{
        width: 100%;
        float: left;
        clear: both;
        padding:15px 0;

        h3{padding-top:15px;}
    }

    h2{padding:20px 0;}
}

/* 
------------------------------------------
LANDING PAGE
------------------------------------------
*/

table{
    width: 100%;
    height: auto;
    display: table;

    thead{
        th{
            font-weight: normal;
            padding:15px 0;
        }
    }

    tbody{
        tr{
            td{
                padding:15px 0;

                &:first-child{width:5%;}
                &:nth-child(2){width:10%;}
                &:nth-child(3){width:10%;}
                &:nth-child(4){width:10%;}
                &:nth-child(5){width:10%;}
                &:nth-child(6){width:20%;}
                &:nth-child(7){width:18%;}

                .button-group{
                    button{
                        margin-right:5px;
                        &:last-child{margin-right: 0;}
                    }
                }

                .expiry-date{
                    width: 120px;
                    height: auto;
                    float: left;
                    padding:5px;

                    .time{
                        width: 50px;
                        float: left;
                        text-align: center;
                        margin: 0 5px 0 0;

                        p{
                            font-family: @base-font;
                            font-weight:bold;
                            font-size: 21px;
                            padding:0;
                            margin:0;
                        }

                        &:last-child{border-right: none;margin:0;}

                        label{
                            width: 100%;
                            float: left;
                            font-size: 6px; 
                            text-transform: uppercase; 
                        }
                    }
                } /* END EXPIRY DATE */

                .flag{
                    margin:0 15px;
                }
            }
        }
    }
}

/* 
------------------------------------------
NEW CREDIT CONSIDERATION LAYOUT AND STYLES
------------------------------------------
*/

.info-row{
    padding:40px 0;

    &.no-border{border-bottom: none;}

    h4{padding-bottom: 20px;font-style: italic;font-weight: bold;}

    .sector-matrix-block{
        width: 250px;
        max-height: 130px;
        float: left;
        padding:50px 30px;
        margin:0 30px 30px 0;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        background: url(../images/SB-MatrixBG.jpg) no-repeat 0 0;

        &.selected,
        &:hover{background: url(../images/SB-MatrixBG-ON.jpg) no-repeat 0 0;}
    }
}

