/* 
------------------------------------------
COLOUR STYLESHEET FOR ELEMENT COLOURS
------------------------------------------
*/
/* COLOUR VARIABLES */
/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.flag-text,
.expiry-date {
  color: #24408e;
}
.flag-text {
  font-family: Arial, Helvetica, sans-serif;
}
.validation-msg {
  color: #f26824;
}
.error {
  color: #f26824;
}
/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn {
  color: #ffffff;
}
.generic-btn:focus,
.generic-btn:hover {
  color: #ffffff;
}
.generic-btn.glb-btn {
  background: #199fda;
}
.generic-btn.glb-btn:focus,
.generic-btn.glb-btn:hover {
  background: #24408e;
}
.generic-btn.secondary-btn {
  background: #f26824;
}
.generic-btn.secondary-btn:focus,
.generic-btn.secondary-btn:hover {
  background: #24408e;
}
.generic-btn.disabled {
  background: #cccbcb;
  cursor: not-allowed;
}
.generic-btn.disabled:hover {
  background: #cccbcb;
}
.generic-btn#delete-item,
.generic-btn.delete-btn {
  background: #d2232a;
}
.generic-btn#delete-item:hover,
.generic-btn.delete-btn:hover {
  background: #a61c21;
}
/* 
------------------------------------------
FORM ELEMENTS
------------------------------------------
*/
select {
  background: #cccbcb;
}
textarea {
  border: solid 1px #cccbcb;
}
section.content .section-title {
  background: #ebebeb;
}
/* 
------------------------------------------
FOOTER
------------------------------------------
*/
footer .footer-content {
  background: #24408e;
}
footer .footer-content p {
  color: #ffffff;
}
/* 
------------------------------------------
LANDING PAGE
------------------------------------------
*/
table thead th {
  border-bottom: solid 1px #0a2140;
}
table tbody tr td {
  border-bottom: solid 1px #a0a1a1;
  /* END EXPIRY DATE */
}
table tbody tr td .expiry-date {
  background: #cccbcb;
}
table tbody tr td .expiry-date .time {
  border-right: solid 1px #ffffff;
}
/* 
------------------------------------------
NEW CREDIT CONSIDERATION LAYOUT AND STYLES
------------------------------------------
*/
.info-row {
  border-bottom: solid 1px #a0a1a1;
}
.info-row .sector-matrix-block {
  color: #ffffff;
}
