/* 
------------------------------------------
COLOUR STYLESHEET FOR ELEMENT COLOURS
------------------------------------------
*/

@import "variables.less";

/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/

body,
h1, h2, h3, h4, h5, h6,
.flag-text,
.expiry-date{color: @primary-text-colour;}


.flag-text{font-family: @base-font;}

.validation-msg{color: @colour-orange;}

.error{color: @colour-orange;}

/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn{
    color: @secondary-text-colour;

    &:focus,
        &:hover{color: @secondary-text-colour;}
    
    &.glb-btn{
        background: @primary-button-colour;

        &:focus,
        &:hover{background: @button-hover-colour;}
    }

    &.secondary-btn{
        background:@colour-orange;

        &:focus,
        &:hover{background: @button-hover-colour;}
    }

    &.disabled{
        background: @colour-grey;
        cursor:not-allowed;
        &:hover{background: @colour-grey;}
    }
    
    &#delete-item,
    &.delete-btn{
        background: @colour-red;
        &:hover{background: darken(@colour-red, 10%);}
    }

}

/* 
------------------------------------------
FORM ELEMENTS
------------------------------------------
*/

select{background: @colour-grey;}
textarea{border: solid 1px @colour-grey;}



section.content{
    .section-title{
        background: @page-header-bg;
    }
}


/* 
------------------------------------------
FOOTER
------------------------------------------
*/

footer .footer-content{
    background: @footer-bg;
    p{color: @secondary-text-colour;}
}


/* 
------------------------------------------
LANDING PAGE
------------------------------------------
*/

table{
    thead{
        th{border-bottom: solid 1px @primary-brand-colour;}
    }

    tbody{
        tr{
            td{
                border-bottom: solid 1px @divider-colour;
                .expiry-date{
                    background: @colour-grey;
                    .time{border-right:solid 1px @secondary-text-colour;}
                } /* END EXPIRY DATE */
            }
        }
    }
}

/* 
------------------------------------------
NEW CREDIT CONSIDERATION LAYOUT AND STYLES
------------------------------------------
*/

.info-row{
    border-bottom: solid 1px @divider-colour;
    .sector-matrix-block{color: @secondary-text-colour;}
}