/* COLOUR VARIABLES */
/* ==============
  Responsive
===================*/
@media only screen and (min-width: 1024px) {
  .btn-group {
    width: 100%;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .container {
    padding-right: 25px;
  }
  .info-row select {
    min-width: 180px;
  }
  .info-row .col-md-4 .generic-btn.glb-btn {
    margin-left: 10px;
  }
  .container table tbody tr td {
    width: inherit;
    padding: 15px 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  .table-overflow {
    width: 100%;
    overflow: scroll;
  }
  .table-overflow table {
    width: 1170px;
  }
  .rwd-m-t-50 {
    margin-top: 50px;
  }
  .rwd-m-r-20 {
    margin-right: 20px;
  }
  .error {
    margin: 5px 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-weight: normal;
  }
  h5 {
    font-size: 0.8em;
    font-weight: normal;
  }
  h6 {
    font-size: 0.7em;
    font-weight: normal;
  }
  .generic-btn.secondary-btn {
    width: auto;
  }
  select {
    width: 100%;
    max-width: 100%;
  }
  .btn-rwd {
    width: 40px;
    height: 40px;
    min-width: auto;
    line-height: 40px;
    overflow: hidden;
  }
  .find-btn {
    width: 100%;
    float: right;
    margin: 10px 0 0 0;
  }
  .back-btn {
    margin: 20px 0 0 0;
  }
  .rwd-m-t-50 {
    margin-top: 50px;
  }
  .rwd-m-r-20 {
    margin-right: 20px;
  }
  .rwd-m-l-20 {
    margin-left: 20px;
  }
  .rwd-m-l-0 {
    margin-left: 0;
  }
  .rwd-m-r-0 {
    margin-right: 0;
  }
  .rwd-m-l-10 {
    margin-left: 10px;
  }
  .error {
    margin: 5px 0 0 0;
  }
  section.content .section-title {
    height: auto;
    padding: 10px 0;
  }
  section.content .section-title h1 {
    line-height: 24px;
  }
  .table-overflow {
    width: 100%;
    overflow: scroll;
  }
  .table-overflow table {
    width: 1170px;
  }
  .btn-group {
    width: 100%;
    margin: 20px auto 0 auto;
  }
  .btn-group .generic-btn.glb-btn {
    width: 100%;
    margin: 0 0 10px 0;
  }
  footer .footer-content p {
    margin: 5px 0;
    padding: 0;
  }
}
/* END  */
@media (max-width: 480px) {
  .generic-btn.secondary-btn.btn-rwd,
  .btn-rwd {
    width: 40px;
    height: 40px;
    min-width: auto;
    line-height: 40px;
    overflow: hidden;
  }
  section.content {
    min-height: 480px;
  }
  .total-flags > div {
    width: 100%;
  }
  .info-row .sector-matrix-block {
    width: 100%;
    margin: 0 0 30px 0;
    background-size: 100%;
  }
}
