
/* COLOUR VARIABLES */ 

@primary-brand-colour:#0a2140;
@secondary-brand-colour:#199fda;
@page-header-bg:#ebebeb;
@global-header-bg:#90bbe6;
@divider-colour:#a0a1a1;
@footer-bg:#24408e;

@primary-text-colour:#24408e;
@secondary-text-colour:#ffffff;
@primary-button-colour:#199fda;
@button-hover-colour:#24408e;

@colour-orange:#f26824;
@colour-red:#d2232a;
@colour-green:#1fb14c;
@colour-grey:#cccbcb;

@base-font:Arial, Helvetica, sans-serif;


